@page
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Employee, Admin")]
@model WebsiteDV.Pages.Administration.ActivityAdministrationModel
@{
}
<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Animals</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="card__bg">
                <div class="card-body">
                    <p>
                        ACTIVITYACTIVITYACTIVITYACTIVITYACTIVITY
                    </p>
                </div>
            </div>
        </div>
</body>
</html>
