
@page
@model WebsiteDV.Pages.Userpages.ActivitiesModel
@{
}
<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Animals</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>

<body>
    <h1>Aktiviteter</h1>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        @foreach()
    </div>
</body>