html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

#index_title{
    text-align: center;
}

#typed {
    text-align: center;
    margin-top: 10px;
    height: 20px;
}

.TitleIMG {
    width: 100%;
    height: auto;
    max-width: 300px;
    margin: 0 auto;
    align-content: center;
    display: flex;
}