@page
@model WebsiteDV.Pages.IndexModel
@{
	ViewData["Title"] = "Dyreværnet";
}
<body>
	<div class="container">
		<img class="TitleIMG" src="~/media/Logo.png">
		<h1 id="index_title">BLOG POSTS GO HERE</h1>
		<p id="typed" class="colored">Fra hjemløs til hjertevarm - Hver pote tæller</p>
		@* C# loop for creating a table row for each meeting room *@
		@foreach (var blogPost in Model.BlogPosts)
		{
			<div class="card card-body">
				<h3 class="card-title">@blogPost.Title</h3>
				<p class="card-text">@blogPost.Text</p>
			</div>
		}
	</div>


	<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
	<script src="~/js/site.js"></script>
</body>