@page
@model WebsiteDV.Pages.IndexModel
@{
	ViewData["Title"] = "Dyre Værnet";
}
<body>
    <div class="container">
        <h1 id="index_title">BLOG POSTS GO HERE</h1>
        @* C# loop for creating a table row for each meeting room *@
		@foreach (var blogPost in Model.BlogPosts)
		{
			<div class="card card-body">
				<h3 class="card-title">@blogPost.Title</h3>
				<p class="card-text">@blogPost.Text</p>
			</div>
		}
    </div>
</body>